/*
	Drift by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	html, body {
		min-width: 320px;
	}

	body, input, select, textarea {
		font-size: 12pt;
	}

/* List */

	ul.actions {
		margin: 0 0 2em 0;
	}

		ul.actions li {
			display: block;
			padding: 1em 0 0 0;
			text-align: center;
			width: 100%;
		}

			ul.actions li:first-child {
				padding-top: 0;
			}

			ul.actions li > * {
				margin: 0 !important;
				width: 100%;
			}

				ul.actions li > *.icon:before {
					margin-left: -2em;
				}

		ul.actions.small li {
			padding: 0.5em 0 0 0;
		}

			ul.actions.small li:first-child {
				padding-top: 0;
			}

	ul.menu {
		font-size: 0.8em;
		line-height: 2em;
	}

		ul.menu li {
			border: 0;
			margin: 0;
			padding: 0 0.5em !important;
		}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		padding: 0;
	}

/* Slider */

	.slider {
		position: relative;
	}

		.slider .viewer {
			border-radius: 0 !important;
			border-width: 0em;
			margin-left: -5vw;
			width: 100vw;
		}

		.slider .slide img {
			border-radius: 0 !important;
		}

		.slider .nav-next:before,
		.slider .nav-previous:before {
			font-size: 0.8em;
		}

/* Banner */

	#banner {
		padding: 5em 2em 4em 2em;
	}

/* CTA */

	#cta {
		padding: 2em;
	}

		#cta h2 {
			display: block;
			margin: 0 0 1em 0;
		}

		#cta .actions {
			display: block;
		}

/* Quotes */

.lGrow {
		padding: 10px 10px 10px 10px;
		border-radius: 10px;
		height: 3em;
		width: 100%;
		margin: 5px 1% 5px 1%;
		position: relative;
		display: inline-block;
		transition: height, width 1s;
		-webkit-transition: height, width 1s;
		text-align: center;
		overflow: hidden;
		background: orange;
		z-index: 5;
		left:0;
		float:none;
		border-left:0.4em darkorange solid;
	}

	.rGrow{
		padding: 10px 10px 10px 10px;
		border-radius: 10px;
		height: 3em;
		width: 100%;
		margin: 5px 1% 5px 1% !important; 
		position: relative;
		display: inline-block;
		transition: height, width 1s;
		-webkit-transition: height, width 1s;
		text-align: center;
		overflow: hidden;
		background: orange;
		z-index: 5;
		right:0;
		float:none;
		border-right:0.4em darkorange solid;
		margin-bottom:15px !important;
	}
	.rGrow h4, .lGrow h4 {
		font-size:20px !important;
		color:#fff;
		padding-top:1px;
	}

	.rGrow p, .lGrow p {
		font-size:20px;
		font-style:italic;
		color:#fff;
		margin-bottom:5px;
		padding-right:5px;
		padding-left:5px;
	}

	.rGrow:hover, .rGrow:focus, .rGrow:active, .lGrow:hover, .lGrow:focus, .lGrow:active {
		height: auto;
		width: 100%;
	}